<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.2.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

</head>
<body>
    <div class="div_body">
        @Html.Action("Main_header","Home")
        <div class="">@RenderBody()</div>
        
        
        <div class="layout_place_bottom"></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    <div class="right_block_link_l">
        <div class="right_block_one_link div_color_white">
            <a href=@Url.Action("Index","Home") class="link_standart_for_circle_60_div">AV</a>

        </div>
        <div class="right_block_one_link div_color_white">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_circle_60_div">VK</a>

        </div>
        <div class="right_block_one_link div_color_white">
            <a href="https://github.com/zsuzitor" class="link_standart_for_circle_60_div">GH</a>

        </div>
        <div class="right_block_one_link div_color_white">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_circle_60_div">In</a>

        </div>
        <div class="right_block_one_link div_color_white">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_circle_60_div">Im</a>

        </div>
    </div> 
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
