@model Archive_of_views.Models.Film

@{
    ViewBag.Title = "Add_film";
}

<h2>Add_film</h2>

<div>
    @using (Html.BeginForm("Add_film", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>@Html.Label("Картинка")
        <input type="file" name="uploadImage[0]" /></div>
        <div>@Html.Label("Название")
        @Html.EditorFor(x1 => x1.Name)</div>
        <div>@Html.Label("Второе название")
        @Html.EditorFor(x1 => x1.Second_name)</div>
        <div>@Html.Label("Номер фильма")
        @Html.EditorFor(x1 => x1.Current_num_film)</div>
        <div>@Html.Label("Оценка")
        @Html.EditorFor(x1 => x1.Mark)</div>
        <div>
            @Html.Label("Просмотрен")
            @Html.EditorFor(x1 => x1.Looked)
        </div>
        <div>
            @Html.Label("Комментарий")
            @Html.EditorFor(x1 => x1.Comment)
        </div>
        <div>@Html.Label("Авторы")
        @Html.EditorFor(x1 => x1.Author_name)</div>
        <div>@Html.Label("Дата")
        @Html.EditorFor(x1 => x1.Date)</div>
  

    <input type="submit" class="submit" value="Поделиться" />
}
</div>