@model Archive_of_views.Models.Book

@{
    ViewBag.Title = "Book_view";
}

<h2></h2>

<div>
    <div class="Book_view_left_all_block div_inline_block">
        <div class="Book_view_name_book_lvl_1">
            <div class="Book_view_name_book div_inline_block">
                <h1>@Model.Name</h1>

            </div>
            <div class="Book_view_looked_img_lvl1 div_inline_block" id="_view_looked_replace_id">@Html.Action("Edit_looked", "Home", new { what = "Book", id = Model.Id })</div>



        </div>
        <div>@Html.Label(Model.Second_name)</div>
        <div>@Html.Label("Авторы:" + Model.Author_name)</div>
        <hr />
        <div>@Html.Label("Фильм в серии номер:" + Model.Current_book)</div>
        <div class="Book_view_opinion">
            <div>@Html.Label("Ваш комментарий:")</div>
            <div>@Html.Label(Model.Comment)</div>
            <hr />
            <div><h1>@Model.Mark.ToString() /100</h1></div>
        </div>
    </div>
    <div class="Book_view_right_all_block div_inline_block">

        <div>
            @if (Model.Image != null)
            {
                <div class="Book_view_image_book" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)) no-repeat;background-size: cover;"></div>


            }
            @if (Model.Image == null)
            {
                <div class="Book_view_image_book" style="background:url(/Content/images/empty_img.PNG) no-repeat;background-size: cover;"></div>

            }
@if (ViewBag.my_page == true)
{
            <div>@Html.ActionLink("Редактировать", "Edit_book", "Home", new { }, new { @class = "link_standart_for_div" })</div>
}
        </div>
    </div>
</div>