@model IEnumerable<Archive_of_views.Models.List_view_all>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    <div></div>
    @Html.Action("List_view_partial", "Home", new { what = ViewBag.what, id = ViewBag.person_id, mode = "show" })



</div>

@{
/*@foreach (var i in Model)
{
<div class="List_one_block div_inline_block">
    <a href=@Url.Action(i.Type,"Home",new {id=i.Id }) class="link_standart_for_div">
        <div>
            <div class="List__one_block_img">
                <div class="List__one_block_img" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(i.Image) ) no-repeat;background-size: cover;">
                </div>
            </div>
            <div>
                <p>@i.Name</p>
                @if (!string.IsNullOrEmpty(i.Second_name))
            {
                    <p>@i.Second_name</p>
                }
                <p>Ваша оценка: @i.Mark</p>
                @if (!string.IsNullOrEmpty(i.Author_name))
            {
                    <p>@i.Author_name</p>
                }

            </div>

        </div>
    </a>
</div>
}*/

}