@model Archive_of_views.Models.Season

@{
    ViewBag.Title = "Season_view";
}

<h2></h2>



<div>
    <div class="Season_view_left_all_block div_inline_block">
        <div class="Season_view_name_season_lvl_1">
            <div class="Season_view_name_season div_inline_block">
                <h1>@Model.Name</h1>

            </div>
            <div class="Season_view_looked_img_lvl1 div_inline_block" id="_view_looked_replace_id">@Html.Action("Edit_looked", "Home", new { what = "Season", id = Model.Id })</div>



        </div>
       
        <hr />
        
        <div class="Season_view_opinion">
            <div>@Html.Label("Ваш комментарий:")</div>
            <div>@Html.Label(Model.Comment)</div>
            <hr />
            <div><h1>@Model.Mark.ToString() /100</h1></div>
        </div>
    </div>
    <div class="Season_view_right_all_block div_inline_block">

        <div>
            @if (Model.Image != null)
            {
                <div class="Season_view_image_season" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)) no-repeat;background-size: cover;"></div>


            }
            @if (Model.Image == null)
            {
                <div class="Season_view_image_season" style="background:url(/Content/images/empty_img.PNG) no-repeat;background-size: cover;"></div>

            }
            <div>@Html.ActionLink("Редактировать", "Edit_season", "Home", new { }, new { @class = "link_standart_for_div" })</div>
        </div>
    </div>
</div>